
.icon-dog:before { content: '\e800'; } /* '' */
.icon-googleplus:before { content: '\e801'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-whatsapp:before { content: '\f232'; } /* '' */
.icon-twitter:before { content: '\f309'; } /* '' */
